:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #ffffff;
  --dairy: #fcfcfc;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: var(--font-family);
  color: var(--slate);
  background-color: var(--white);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 120px 0;
}

.header {
  border-bottom: 1px solid var(--cornflower);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-link {
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.menu-link:hover,
.menu-link:focus {
  color: var(--ocean);
}

.nav-link.current {
  color: var(--ocean);
}

.nav-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--ocean);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.nav .logo {
  margin-right: 76px;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.logo-span {
  color: #2e2f42;
}

address {
  font-style: normal;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-link {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--ocean);
}

.hero-section {
  background-color: var(--navy-blue);
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px auto;
  color: var(--white);
  text-align: center;
  padding: 188px 0;
}

.hero-section__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-section__button {
  background-color: var(--iris);
  color: var(--white);
  border: none;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  display: block;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-section__button:hover,
.hero-section__button:focus {
  background-color: var(--ocean);
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: 264px;
}

.features-icon {
  height: 112px;
  border-radius: 4px;
  background-color: var(--cloud);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  color: var(--iris);
}

.features-icon__svg {
  fill: currentColor;
}

.section-title {
  margin: 0 0 72px 0;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  text-transform: capitalize;
}

.features-title {
  margin: 0 0 8px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.features-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}

.team {
  background-color: var(--cloud);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-card {
  background-color: var(--white);
  text-align: center;
  width: 264px;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card-content {
  padding: 32px 0;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cloud);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--green);
}

.team-social-icon {
  fill: currentColor;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-card {
  width: 360px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover,
.portfolio-card:focus-within {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-card-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: var(--iris);
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .portfolio-card-overlay,
.portfolio-card:focus-within .portfolio-card-overlay {
  transform: translateY(0);
}

.portfolio-card-content {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
}

.portfolio-card-content .features-title {
  margin-bottom: 8px;
}

.footer {
  background-color: var(--navy-blue);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
  gap: 120px;
}

.footer .logo {
  margin-bottom: 16px;
  display: inline-block;
}

.footer .logo-span {
  color: #f4f4fd;
}

.footer-text {
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 264px;
}

.footer-social-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--iris);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cloud);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green);
}

.footer-social-icon {
  fill: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
}
